// Place all the styles related to the Battle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pokemons {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.pokemon {
  border: 1px solid rgba(0, 0, 0, 0.507);
  padding: 2rem;
}

.battle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1, h2 {
    margin: 1rem auto;
    text-decoration: underline;
  }
}

.reset-button {
  width: fit-content;
  margin: 1rem auto;
}
